@import "reset";

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #204c68;
}

html {
  height: 100%;
  width: 100%;
  background-color: #204c68;
}

#bm {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  animation-name: fadeOut;
  animation-duration: 4.2s;
  object-fit: cover;
}

.content-wrap {
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #204c68;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 50%;
  margin: auto;
  transform: translateY(-50%);
}

@keyframes fadeOut {
  90% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    background-color: #204c68;
  }
  90% {
    opacity: 0%;
    background-color: #204c68;
  }
  100% {
    background-color: #fff;
    opacity: 100%;
  }
}
