@import "reset";

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.loader-wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    animation-name: fadeOut;
    animation-duration: 1s;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bm {
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.content-wrap {
  height: 100%;
  width: 100%;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 50%;
  margin: auto;
  transform: translateY(-50%);
}

@keyframes fadeOut {
  90% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
